.editor-group-watermark .shortcuts,
.title-actions,
.title-label,
.editor-actions {
  display: none !important;
}

.sidebar > .composite {
  height: 0px !important;
}

.sidebar > .content {
  height: 880px !important;
}
.sidebar > .content > .composite.viewlet.extensions-viewlet.narrow,
.pane > .pane-body {
  padding-top: 10px;
}

.monaco-workbench .part.panel.bottom .composite.title {
  display: none !important;
}

.mac .split-view-container .split-view-view:nth-child(2) {
  background: #000;
}
.tab-border-top-container {
  display: none !important;
}

.tabs-container {
  padding: 6px 0 6px 90px;
  -webkit-app-region: drag;
}

.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item.checked
  .active-item-indicator:before {
  border-left-color: #ffffff7a;
}
