.editor-group-watermark .shortcuts,
.title-actions,
.editor-actions,
.title-label {
  display: none !important;
}

.sidebar > .composite {
  height: 12px !important;
}

.sidebar > .content {
  height: 840px !important;
}
