.editor-group-watermark .shortcuts,
.title-actions,
.title-label,
.editor-actions {
  display: none !important;
}

.sidebar > .composite {
  height: 12px !important;
}

.sidebar > .content {
  height: 860px !important;
}

.monaco-workbench .part.panel.bottom .composite.title {
  display: none !important;
}

.mac .split-view-container .split-view-view:nth-child(2) {
  background: #000;
  padding-top: 10px;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active.tab-border-top
  > .tab-border-top-container,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.selected.tab-border-top
  > .tab-border-top-container {
  background-color: #7fffd476;
}
